<!DOCTYPE html>
<html>
  <head>
    <title><%- config.appName %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%- css('./bundle.css') %>

    <%- js('//cdn.bootcss.com/jquery/2.2.4/jquery.js') %>
    <%- js('//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js') %>
    <%- js('//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js') %>
  </head>

  <body>
    <%- body %>
  </body>

  <%- js('./bundle.js') %>
</html>
